{% extends "learning_logs/base.html" %}

{% block content %}
<br>
<br>
<div class="card mb-2 m-auto" style="width:60%" >
      <h6 class="card-header">      
        <span style="color:red">警告</span>：这道练习题会被删除
      </h6>
      <div class="card-body">
        <form action="{% url 'bili:del_exercise' exercise.id %}" method="post"> 
            {% csrf_token %}
            <select class="form-control" name="yes_or_no">
                <option value="no">No</option>
                <option value="yes">Yes</option>
            </select>
            <div style="float:right;margin-top:15px">
            <button style="margin-right:20px" name="submit" class="btn btn-secondary">确认</button>
            <div>
        </form>
     </div>
</div>
    
    
    
{% endblock content %}