{% extends "learning_logs/base.html" %}

{% block content %}
<p style="font-size:30px;font-weight:bold"><a href="{% url 'bili:chapter' chapter.id %}">{{ chapter }}</a></p>
<p style="font-weight:bold;">课程名称:</p>

<form action="{% url 'bili:edit_chapter' chapter.id %}" method='post'>
    <div>
        {% csrf_token %}
        {{ form.as_p }}
    </div>
    <div>
        <span><button name="submit" class="btn btn-secondary">确认修改</button></span>
        <span style="float: right;margin-right: 25%;">
        <a href="{% url 'bili:chapters' %}">
            <button type="button" class="btn btn-secondary">放弃修改</button>
        </a>
    </span>
    </div>
</form>

{% endblock content %}