{% extends "learning_logs/base.html" %}

{% block content %}
<div style="margin-bottom:15px">
    <span ><b>{{ entry }}</b></span>
    <span style="margin-left:100px">练习题：
        <span style="color:#CD00CD">{{ exercise.id }}</span>
    </span>
    <span style="float: right;margin-right: 25%;">
        <a href="{% url 'bili:chapter' chapter.id %}">
            <button type="button" class="btn btn-secondary">返回</button>
        </a>
    </span>
</div>

<form action="{% url 'bili:edit_exercise' exercise.id %}" method='post'>
    <div class="form-group" style="color:#969696;">
        
        {% csrf_token %}
        {{ form.as_p }}
        
    </div>
    <button name="submit" class="btn btn-secondary">确认修改</button>
</form>

{% endblock content %}

