{% extends "learning_logs/base.html" %}

{% block content %}
<p><a href="{% url 'bili:chapter' chapter.id %}">{{ chapter }}</a></p>

<form action="{% url 'bili:edit_entry' entry.id %}" method='post'>
    <div style="font-weight:bold">
    {% csrf_token %}
    {{ form.as_p }}
    </div>
    <div>
        <span><button name="submit" class="btn btn-secondary">确认修改</button></span>
        <span style="float: right;margin-right: 25%;">
        <a href="{% url 'bili:chapter' chapter.id %}">
            <button type="button" class="btn btn-secondary">放弃修改</button>
        </a>
    </span>
    </div>
</form>
    

{% endblock content %}