<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,
    shrink-to-fit=no">
    <title>练习渲染效果</title>
  
</head>
<body>

<img style="height: 100px; width:100px" src="https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fpic1.win4000.com%2Fwallpaper%2Fa%2F58a1542633b52.jpg&refer=http%3A%2F%2Fpic1.win4000.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1665927207&t=477e01e9cf290c0b4b398897db89270c" />
<div>
<img style="width: 30%" src="/static/polls/img/img12.jpg" />
</div>


</body>
<html>