{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,
    shrink-to-fit=no">
    <title>练习渲染效果</title>

    <style>  
       .c1{
           height: 100px;
           width: 400px; 
           border: 1px solid red;
           padding-top: 20px;           
      }
      .c2{
           height: 50px;
           width: 400px; 
           border: 1px solid red;
           margin-top: 20px;           
      }
    </style>
</head>

<body>
<div class="c1" style="background-color:yellow;">
<div >中国寺直来直去非官方</div>
</div>

<div class="c2" style="background-color:red;">
<div >fghfgjgkjl</div>
</div>


<hr>
1、内边距 padding-(left,right,bottom,top)
2、外边距 margin-(left,right,bottom,top)

</body>
<html>