<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,
    shrink-to-fit=no">
    <title>练习渲染效果</title>
  
</head>
<body>
<h1>输入内容</h1>
<input type="text" />
<input type="password" />
<input type="file" />
<input type="radio" name="1"/>男
<input type="radio" name="1"/>女

<input type="checkbox" />篮球
<input type="checkbox" />足球
<input type="checkbox" />乒乓球
<input type="checkbox" />棒球

<input type="button"  value="提交"/>        <!--普通按钮-->
<input type="submit"   value="提交">        <!--提交表单-->
</body>
<html>