{% extends "learning_logs/base.html" %}

{% block content %}
<div style="margin-bottom:15px">
    <span>{{ entry }}</span>
    <span style="float: right;margin-right: 25%;">
        <a href="{% url 'bili:chapter' chapter.id %}">
            <button type="button" class="btn btn-secondary">放弃编辑</button>
        </a>
    </span>
</div>

<form action="{% url 'bili:new_exercise' chapter.id entry.id %}" method='post'>
    <div style="color:#969696;">
    {% csrf_token %}
    {{ form.as_p }}
    </div>
    <button name="submit" class="btn btn-secondary">提交</button>
</form>

{% endblock content %}